PORT = 8000

# PostgreSQL Configuration
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=booking_db


# Redis Configuration (Broker & Result Backend)
REDIS_URL=redis://localhost:6379/0


# Application Settings
LOG_LEVEL=INFO

