# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=booking_db

# Database connection string for API & Worker services
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}


# ==========================================
# Redis Configuration (Broker & Result Backend)
# ==========================================
REDIS_URL=redis://localhost:6379/0

# Rate Limiting Storage URI for API
RATE_LIMIT_STORAGE_URI=${REDIS_URL}


# Application Settings
APP_ENV=prod
LOG_LEVEL=INFO

